.carousel-inner{
    height: 600px;
    width: 90%;
    margin: auto;
}
.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    letter-spacing: 5px;
  }

nav a{
    color:white;
}
.nav  li:hover {
    background: white;
    color: black;
  }
.img-circle{
    border-radius: 150px;
}
.card-img-top{
    height: 250px;
    width: 250px;
    margin: auto;
}
.btn{
    display: flow-root;
}
.btn-primary{
    background-color:  #2f2f2f;
    border-color: black;
}